.env
.venv
.idea
__pycache__/
*.pyc
.DS_Store
.vscode/
node_modules/
dist/
build/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.zip
*.tar.gz
*.egg-info/
coverage/
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.pyre/
.coverage